extends layout

block pageContainer
  .body
    .h1 Insy
    .form
      form(action="/link", method="post")
        .form-inline
          .form-group
            .label URL
            input(type="text", name="userProvidedUrl", placeholder="www.google.com").form-control
          .form-group
            .label Keyword
            input(type="text", name="userFavoriteKeyword", placeholder="Enter One keyword").form-control
          input(type="submit" value="short URL").btn.btn-default.btn-primary
  if(err)
    .alert.alert-danger.alert-dismissable Please Enter URL and Keyword
      input(type="button", class="close", data-dismiss="alert", role="alert", aria-label="Close" value="X")
  .center
    if(link)
      .h3 Below is your shortened link
      .lead
        a(href=link.link_to_be_shortened).glyphicon.glyphicon-ok #{link.custom_gen_link[0]}
        br
        a(href=link.link_to_be_shortened).glyphicon.glyphicon-ok #{link.custom_gen_link[1]}
        br
        a(href=link.link_to_be_shortened).glyphicon.glyphicon-ok #{link.custom_gen_link[2]}
    else
      .h3 Insy is a link shortner that recommends links based on your keyword, even if the keyword is taken
