extends ../layout

block content

  p "Below is your shortened link"
  a(href=link.link_to_be_shortened) #{link.sys_gen_link}


  p "Below is a custom link based on your keyword and easy to remember"
  a(href=link.link_to_be_shortened) #{link.custom_gen_link[0]}
  br
  a(href=link.link_to_be_shortened) #{link.custom_gen_link[1]}
  br
  a(href=link.link_to_be_shortened) #{link.custom_gen_link[2]}
